.login-container{
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Raleway', sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 20px 0px;
    border: none;
    border-radius: 25px;
}

.login-head{
    background-color: #252bc2;
    width: 100%;
    height: 10rem;
    color: whitesmoke;
    
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.go-back{
    position: relative;
    right: 276px;
    top: -32px;
    cursor: pointer;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
    height: calc(100% - 7rem);
    width: 100%;
}

.login-form form{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.login-form-input{
    width: 50%;
    margin: 1rem 0;
    border: none;
    border-radius: 27px;
    padding: 1rem 2rem;
    background-color: rgb(225, 225, 225);
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}

.login-form-input::placeholder{
    color: rgb(52, 52, 52);
}

.login-form-input:hover{
    box-shadow: 0px 0px 3px black;
}

.login-form form button{
    width: 40%;
    background-color: #252bc2;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: whitesmoke;
    border: none;
    border-radius: 27px;
    margin: 1rem 0;
    transition: all 0.5s ease-in-out;
}

.login-form form button:hover{
    background-color: #090b34;
}

.login-form-frgt-psswd{
    margin: 1rem 0;
}

.login-form-frgt-psswd a{
    color: #252bc2;
    transition: all 0.5s ease-in-out;
}

.login-form-frgt-psswd a:hover{
    color: #090b34;
}

.login-dont-have-acc{
    display: flex;
    justify-self: center;
    align-items: end;
    padding: 0 0 2rem 0;
    height: 4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    /* background-color: pink; */
}

.login-dont-have-acc a{
    color: #252bc2;
    transition: all 0.5s ease-in-out;
}

.login-dont-have-acc a:hover{
    color: #090b34;
}