.forgot-password {
    width: 400px;
    /* Adjust width as needed */
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.forgot-password h1 {
    text-align: center;
    margin-bottom: 20px;
}

.fp-form-group {
    margin-bottom: 15px;
}

.fp-form-group label {
    display: block;
    margin-bottom: 5px;
}

.fp-form-group input,
.fp-form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.fp-submit-button{
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fp-submit-button:hover {
    background-color: #45a049;
    /* Slightly darker green on hover */
}

.fp-error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.fp-success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

@media  screen and (max-width: 500px) {

    .forgot-password {
        width: 80vw;
        padding: 10px;
    }

    .forgot-password h1 {
        font-size: 18px;
    }

    .fp-form-group label {
        font-size: 0.9rem;
    }
    
}