.cancel-booking{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 50px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cancel-confirmation-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000055;
    backdrop-filter: blur(10px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
}

.cancel-dialogue-box{
    height: auto;
    max-width: 30vw;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(88, 88, 88);
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    gap: 1rem;
}

.cancel-dialogue-box p{ 
    font-size: large;
}

.cancel-dialogue-box img{
    align-self: center;
}

.cancel-dialogue-box-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem; 
}

.cancel-dialogue-box-btns button{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cb-no{
    background-color: rgb(218, 218, 218);
    transition: all 0.3s ease-in-out;
}
.cb-no:hover{
    background-color: rgba(218, 218, 218, 0.5);
    box-shadow: 1px 1px 3px rgb(186, 186, 186);
}

.cb-yes{
    background-color: #ff1100;
    color: white;
    transition: all 0.3s ease-in-out;
}
.cb-yes:hover{
    background-color: #ff1100cc;
    box-shadow: 1px 1px 3px rgb(148, 148, 148);
}



