.change-password {
    width: 400px;
    /* Adjust width as needed */
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.change-password h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cp-form-group {
    margin-bottom: 15px;
}

.cp-form-group label {
    display: block;
    margin-bottom: 5px;
}

.cp-form-group input,
.cp-form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.cp-submit-button {
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cp-submit-button:hover {
    background-color: #45a049;
    /* Slightly darker green on hover */
}

.cp-error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.cp-success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}