.tkt-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tkt-container {
    width: 600px;
    margin: 2rem auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Ticket Title */
.tkt-container h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

.ticket-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.ticket-table th{
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 10px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.ticket-table td{
    border: 1px solid rgba(0, 0, 0, 0.147);
    padding: 10px;
    background-color: #ecf4ff;
    text-align: center;
}

.tt-td-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

/* Passenger List */
.passenger-list {
    margin-top: 20px;
    /* background-color: cyan; */
    width: 100%;
}

.passenger-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid grey;
}

/* Passenger Details */
.passenger-details {
    margin-bottom: 10px;
    background-color: yellow;
}

.passenger-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.passenger-header {
    background-color: #0066ff;
    /* width: 100%; */
}

.passenger-header th {
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
}

.passenger-row:nth-child(even) {
    background-color: #dfdfdf;
}

.passenger-row td {
    padding: 10px;
    border: 2px solid grey;
}

.fare-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.fare-table th{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: #001a8e;
}

/* Print Button */
.print-tkt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0051ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.3rem;
}

.print-tkt:hover {
    background-color: #001a77;
}