.content {
    min-height: 460px;
    height: auto;
}

.main {
    background-image: url("../../assets/img/home_page_background@3x.png");
    height: 500px;
    width: 100%;
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: contain;

    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-head {
    padding: 2rem;
    /* background-color: blueviolet; */
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-head-p1 {
    font-size: x-large;
    font-weight: 400;
    /* border: 2px solid black; */
    align-self: start;
}

.main-head-p2 {
    font-size: x-large;
    font-weight: 500;
    /* border: 2px solid black; */
    align-self: start;
}

.main-head img {
    position: relative;
    left: -20%;

    width: 200px;
    padding: 2rem 0 0 0;
}

.rana-img-tag {
    align-self: start;
    font-size: xx-large;
    font-weight: 600;
    border: 4px solid #252bc2;
    color: #252bc2;
    width: fit-content;
    padding: 0 2rem;

    --bg-size: 400%;
    --color-one: #252bc2;
    --color-two: #c22525;
    --color-three: #c2bd25;
    font-family: sans-serif;
    font-size: clamp(2rem, 25vmin, 2rem);
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-three),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    .rana-img-tag {
        animation: move-bg 8s linear infinite;
    }

    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}

.main-features{
    width: 50vw;
    margin: 2rem;
    border: 2px solid #252bc2;
    height: 90%;
    border-radius: 27px;

    background-color: rgba(255, 255, 255, 0.263);
    backdrop-filter: blur(4px)
}

.mf-head{
    padding: 2rem 0 0 2rem ;
}

.mf-grid{
    display: grid;
    grid-template-columns: 50% 50%;    
    padding: 10px;
}

.mf-grid-item{
    /* border: 1px solid black; */
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mf-grid-item span{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    gap: 5px;
}

.mf-grid-item span p{
    font-size: 0.9rem;
    color: rgb(56, 56, 56);
}

.mf-grid-item span h4{
    /* font-size: 0.9rem; */
    /* color: rgb(56, 56, 56); */
    text-align: start;
}