/* Overall container styling */
.TrainsList-container {
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 900px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Heading styling */
.tlh-heading {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.tlh-src-dest{
    color: rgb(0, 151, 0);
}

.tlh-doj{
    color: rgb(0, 151, 0);
    /* padding-left: 1rem; */
}

.train-no-name-dot{
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1rem;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: yellow; */
}

.train-type{
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid green;
    background-color: #9cff9e;
    color: green;
    margin: 0 0.5rem;
}

.view-train-details{
    cursor: pointer;
    font-size: 0.8rem;
    padding: 5px 0px;
    color: #002ac2;
    background-color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}

.view-train-details:hover{
    color: #000929;
    text-decoration: underline;
}

.tl-doj{
    /* margin-bottom: 0.5rem; */
    font-weight: bold;
    color: #002ac2;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.2rem;
}

.tl-stn-time{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 5rem;
    /* background: #0000004c; */
}

.tl-stn-src,
.tl-stn-dest{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(231, 255, 215);
    border-radius: 8px;
    padding: 1rem 3rem;
}

.tl-stn-src div,
.tl-stn-dest div{
    padding: 0.2rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.tl-trvl-time{
    /* background-color: cyan; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 600;
    color: #00000093;
}

.tl-seats{
    border-top: 2px solid grey;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.tl-seat-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    background-color: #e1e8ff;
}

.tlsb-coach{
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: 500;   
}

.tlsb-availability{
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.5rem;
}

.tlsb-fare{
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.5rem;
    color: rgb(0, 10, 143);
}

.tlsb-book-btn{
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid green;
    background-color: #9cff9e;
    transition: all 0.3s ease-in-out;
}

.tlsb-book-btn:hover{
    background-color: green;
    color: white;
}

.tlsb-book-btn-disabled{
    cursor: not-allowed;
    background-color: #e1e8ff;
    border: 2px solid grey;
    color: #00000093;
}

.tlsb-book-btn-disabled:hover{
    background-color: grey;
    color: white;
}

.tl-day {
    color: #999;
}

/* Trains list styling */
.tl-trains-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tl-train {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.tl-train:nth-child(even) {
    background-color: #f5f5f5;
}

/* Individual train information styling */
.tl-train,
.tl-other-train {
    font-size: 0.9rem;
}

/* Other trains running section styling */
h4 {
    text-align: center;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.tl-other-trains-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tl-other-train {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eee;
}

.tl-other-train:nth-child(even) {
    background-color: #f5f5f5;
}

.other-days {
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 900px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.other-days h2{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.tlh-no-trains{
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 900px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.view-train-details-window{
    position: absolute;
    width: calc(100vw - 16rem);
    height: auto;
    margin: 0 8rem;
    backdrop-filter: blur(10px);
    background-color: #ffffff86;
    top: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    box-shadow: 0 0 5px #0000004e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-train-details-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    border: 2px solid red;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.137);
    color: rgb(255, 0, 0);
    font-size: 1rem;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

.view-train-details-close-btn:hover{
    background-color: red;
    color: white;
}
