.nav {
    width: 100%;
    height: 4rem;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: x-large;
    border-bottom: 1px solid rgb(134, 134, 134);
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 100;
}

.nav span {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 4vw;
}

.nav-logo {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.377));
}

.login-button, .logout-button, .register-button {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-size: 1.2rem;
}

.login-button {
    background-color: rgb(37, 43, 194);
    width: 7rem;
    color: whitesmoke;
    border: none;
}

.login-button:hover {
    background-color: #090b34;
}

.logout-button {
    background-color: rgba(37, 42, 194, 0);
    width: 8rem;
    border: 2px solid #ff0000;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.logout-button:hover {
    color: #ff0000;
    background-color: #ffd7d7;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.292);
}

.go-to-dashboard {
    background-color: #ffffff;
    color: blue;
    padding: 10px 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: underline;
}

.go-to-dashboard:hover {
    color: #000000;
}

.register-button {
    background-color: rgba(37, 42, 194, 0);
    width: 9rem;
    border: 2px solid #252bc2;
    color: rgb(37, 43, 194);
}

.register-button:hover {
    border-color: #090b34;
}

@media screen and (max-width: 1024px) {
    .nav {
        font-size: large;
        padding: 0 1.5rem;
    }

    .nav span {
        margin: 0 2rem 0 0;
        gap: 1rem;
    }

    .login-button, .register-button, .logout-button {
        width: 6rem;
        font-size: 1rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        font-size: medium;
        padding: 0 1rem;
        margin-right: 6vw;
    }

    .nav span {
        gap: 1rem;
    }

    .login-button, .register-button, .logout-button {
        width: 6rem;
        font-size: 0.85rem;
        padding: 0.4rem;
    }
}

@media screen and (max-width: 600px) {
    .nav {
        font-size: small;
        padding: 0 0.5rem;
        height: 3rem;
    }

    .nav span {
        margin: 0 2rem 0 0.7rem;
        gap: 0.8rem;
    }
    .nav:nth-child(1) {
        margin: 0;
    }

    .nav span img {
        width: 15px;
        height: 15px;
    }

    .login-button, .register-button, .logout-button {
        width: 5rem;
        font-size: 0.8rem;
        padding: 0.3rem;
    }
}
